#h1{
  text-align: center;
}
* {
  box-sizing: border-box;
}


#chicken,#beef,#sushi{
border:1px solid black;
background-color: grey;
float: left;
padding: 50px 20px 0px 20px;

}


.h1{
  position: absolute;
  text-align: center;
  top:0;
  right:0;
  border:1px solid black;
  background-color: #D59898;
  width: 80px;
  height: 50px;
}

@media only screen and (min-width: 992px) {
  #chicken,#beef,#sushi{
    width:33%;
  }
  #chicken{
    position: relative;

  }
 #beef{
    position: relative;
    left:10px;
  }
  #sushi{
    position: relative;
    left:20px;
  }
}

@media only screen and (max-width:991px) {
  #chicken,#beef,#sushi{
    width:50%;
  }
 #sushi{
    width:100%;
  }
#chicken{
    position: relative;
    left:0px;
    bottom:10px;
  }
  #beef{
    position: relative;
    left:0px;
    bottom: 10px;
  }


}

@media only screen and (max-width: 767px) {
#chicken,#beef,#sushi{
    width:100%;
    position: relative;
    left: auto;
    right: auto;
      }
    #beef{
      top: 10px;
    }
 #sushi{
    top: 30px;
  }
